<!-- bottom footer -->
<footer class="footer">

<!-- fixed footer -->
<!-- <footer class="navbar-default navbar-fixed-bottom"> -->

  <div class="container footerBox">
    <!-- <p class="copyright text-muted">
      Copyright&nbsp;&copy;&nbsp; {{ site.time | date: '%Y' }}
      {% if site.pretty-url %} &nbsp;&bull;&nbsp;
        <a href="{{ site.url }}">{{ site.pretty-url }}</a>
      {% endif %}
    </p> -->


    <!-- <p class="text-muted">
      Powered by <a href="https://github.com/">Github</a>.
    </p> -->

    <table style="width:100%">
      <tr>
        <td>
          <p class="text-muted">
            Powered by <a href="https://github.com/" target="_blank">Github</a>
            and <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>.
          </p>
        </td>
        <td>
          <!-- <p class="text-muted text-right">
            <a href="{{ site.baseurl }}/web/contact">Contact me</a> for more information.
          </p> -->
        </td>
      </tr>
    </table>
  </div>
</footer>
