<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.url }}">{{ site.title }}</a>
    </div>

    <div id="navbar-main" class="navbar-collapse collapse">
      <!-- <ul class="nav navbar-nav">
      </ul> -->
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Work<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">First example</li>
            <li><a href="{{ site.baseurl }}/web/american_sat.html">American SAT (python)</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Other</li>
            <li><a href="{{ site.baseurl }}/web/ex.html">ex with menu</a></li>
            <li><a href="{{ site.baseurl }}/web/nb.html">notebook ex</a></li>
          </ul>
        </li>
        <li><a href="{{ site.baseurl }}/web/about">About</a></li>
        <li><a href="{{ site.baseurl }}/web/contact">Contact</a></li>
      </ul>
    </div>

    <!-- method 1: hierarchy described in the config file -->
    <!-- <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        {% for link in site.nav-links %}
        <li>
          <a href="{{ site.baseurl }}/{{ link[1] }}">{{ link[0] }}</a>
        </li>
        {% endfor %}
      </ul>
    </div> -->

    <!-- method 1: hierarchy described here -->
    <!-- <div id="navbar-main" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Enseignement <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">DU Dataviz</li>
            <li><a href="visualisation-donnees.html">Visualisation de données - R</a></li>
            <li><a href="visualisation-donnees-d3.html">Visualisation de données - D3</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Master</li>
            <li><a href="slides/cnam-classif-modeles.html">Classification et Modèles de mélange</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div> -->

  </div>
</nav>
